.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 86px;
    margin: 0;

    background-color: #333333;
}

.footer a {
    text-decoration: none;
}

.qa,
.aboutUs {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: var(--second-bg-color);
}

.qa {
    padding-left: 32px;
}

.aboutUs {
    padding-right: 32px;
}