:root {
    --primary-bg-color: #F5F5F5;
    --second-bg-color: #FFFFFF;
    --primary-color: #1B1F23;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Roboto";
}

header {
    /* position: sticky; */
    /* top: 0; */
}

a {
    text-decoration: none;
    
    color: inherit;
}

@font-face {
    font-family: "Roboto";
    src: url("../src/fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
}