.basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 86px - 84px);
    padding: 0 32px;
    padding-bottom: 24px;

    background-color: var(--primary-bg-color);
}

.ticketsCount {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    list-style: 20px;

    background-color: var(--second-bg-color);
    border-radius: 8px;
}