.filmContent {
    padding: 32px 24px;
    max-width: 1856px;
}

.filmInfo {
    display: grid;
    grid-template-columns: 432px 1fr;
    padding: 24px;

    background-color: var(--second-bg-color);
    border-radius: 8px;
}

.filmInfo .info {
    color: var(--primary-color);
}

.info .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filmInfo .info .name {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.genre,
.year,
.rating,
.producer,
.description,
.description .text {
    padding-top: 16px;
    font-size: 24px;
    line-height: 24px;
}

.genre {
    padding-top: 24px;
}

.description {
    padding-top: 32px;
}

.poster img {
    border-radius: 8px;
}

.spinner {
    display: flex;
    justify-content: center;
}

.spinner img {
    animation: 1s linear 0s normal none infinite running spin;
    -webkit-animation: 1s linear 0s normal none infinite running spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}