.filter {
    position: sticky;
    top: 0;
    width: 408px;
    height: 100%;
    max-height: 814px;
    padding: 24px;

    background-color: var(--second-bg-color);
    border-radius: 8px;
}

.form {
    display: grid;
    grid-template-rows: 20px 80px 80px 80px;
}

.header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    color: var(--primary-color);
}

.filterName {
    padding-top: 16px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: "SF";
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    color: var(--primary-color);
}

.filterByName {
    width: 328px;
    min-height: 20px;
    padding: 10px 16px;
    font-family: "SF";

    border: 1px solid #E1E3E6;
    border-radius: 8px;
}

.filterByName::placeholder {
    font-size: 14px;

    color: #999FA6;
}


.filterSelect {
    display: flex;
    justify-content: space-between;
    width: 328px;
    padding: 10px;
    padding-left: 16px;
    text-align: left;
    font-size: 14px;
    font-family: "SF";
    line-height: 20px;
    z-index: 1;

    color: #999FA6;
    background-color: var(--second-bg-color);
    border: 1px solid #E1E3E6;
    border-radius: 8px;
}

.filterSelect img {
    cursor: pointer;
}

.active {
    color: #111111;
}

@font-face {
    font-family: "SF";
    src: url("../fonts/SanFranciscoProText/SFProText-Medium.ttf") format("truetype");
}