.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 50;
    width: 100%;
    max-width: 1920px;
    height: 84px;

    background-color: #333333;
}

.header a {
    text-decoration: none;
}

.logo {
    padding-left: 32px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;

    color: var(--second-bg-color);
}

.basket {
    width: 28px;
    height: 25px;
    margin-right: 32px;

    background-image: url(../assets/images/basket.svg);
}

.tickets {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tickets .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-style: 14px;
    font-weight: 600;

    color: #FFFFFF;
    background-color: #FF5500;
    border-radius: 8px;
}


.tickets .count div {
    height: 20px;
}