.preview,
.previewTicket {
    width: 100%;
    min-height: 120px;
    padding: 24px;
    margin-top: 16px;

    background-color: var(--second-bg-color);
    border-radius: 8px;
}

.preview {
    display: grid;
    grid-template-columns: 124px 1fr 70px;
}

.previewTicket {
    display: grid;
    grid-template-columns: 124px 1fr 70px 50px;
}

.close {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.description .name {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;

    color: #1B1F23;
}

.description .genre {
    padding-top: 5px;
    margin: 0;
    font-size: 16px;
    font-style: oblique;
    font-weight: 400;
    line-height: 20px;
}

.ticketsCounter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 20px;
    font-weight: 600;
    font-weight: 20px;
}

.ticketsCounter .ticketsCount {
    padding: 0 8px;
}

.ticketsCounter .minus,
.plus {
    cursor: pointer;
}