.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1920px;
    height: 84px;

    background-color: #333333;
}

.header a {
    text-decoration: none;
}

.logo {
    padding-left: 32px;
    font-size: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    line-height: 38px;

    color: #FFFFFF;
}

.basket {
    width: 28px;
    height: 25px;
    margin-right: 32px;

    background-image: url(../assets/images/basket.svg);
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
}